<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update meetup</title>
</head>
<body>
<form th:action="@{/meetups/update/{id}}" th:object="${meetup}" method="post">
    <input readonly type="number" name = "id" th:field="*{id}" placeholder="ID">
    <input type="text" name="theme" th:field="*{theme}" placeholder="Theme">
    <textarea name = "description" th:field="*{description}" placeholder="Description"></textarea>
    <input type="datetime-local" name="timestamp" th:field="*{timestamp}" placeholder="Timestamp" format="2018-06-12 19:30">
    <input type="text" name="organizer" th:field="*{organizer}" placeholder="Organizer">
    <input type="text" name="place" th:field="*{place}" placeholder="Place">
    <input type="submit" value="Update meetup">
</form>
</body>
</html>